<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" thread-count="3" name="beginnersguidefortesting">
        <classes>
            <class name="com.guide.beginners.testng.samplejava.tutorial1.TestNgAnnotationsOrder"/>
            <class name="com.guide.beginners.testng.samplejava.tutorial1.TestNgAnnotationsOrderWithDataProviders"/>
        </classes>
    </test>
    <test verbose="5" preserve-order="true"  name="selenium" parallel="false">
        <classes>
            <class name="com.guide.beginners.testng.theinternet.SeleniumFirstTestSuite"/>
        </classes>
    </test>
</suite>